# compiled output
/dist
/node_modules
*/spectral-rulesets
.env
# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output
/tmp

# IDEs
.vscode
!.vscode/launch.json
!.vscode/settings.json

.idea
!.idea/SpectralSettings.xml